<h2> News page :) English </h2>

<% @notifications.each do |notification| %>
<h4><%= notification.title%></h4>
<h4><%= notification.content%></h4>
<h4><%= image_tag notification.image.url(:notification_index) %></h4>
--------------------------------------------
<% end %>

