<div class="row">
	
		<h2 class="title-style-2" style="padding-left:29px;">Neuigkeiten<span class="title-under"></span></h2>

</div><br />
<% @notifications.each do |notification| %>
<div class="row">
	<div class="col-md-12 news" style="background:#fff; border-radius: 5px;">
		<div class="col-md-9">
			<p><h2 class="news"><%= notification.title%></h2></p>
			<p><h5 class="news">Autor | Datum: <%= notification.date%></h5></p>
			<p><h4><%= notification.content%></h4></p>
		</div>
		<div class="col-md-3 news" style="  padding-top:40px;">
			<%= image_tag notification.image.url(:notification_index), class:"img-thumbnail",:alt => "Notification" %>
		</div>
		<p class="col-md-12" style="padding-bottom:10px;"><a href="" class="news">Gehen Sie zur Seite der App</a></p>
	</div><br />

</div><br />
<% end %>