<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
	<title>About Us</title>
</head>
<body>
<div class="row">
	<h2>First paragraph heading</h2>
	<h4>Content for the first part</h4><br />
	<h2>Second paragraph heading</h2>
	<h4>Con tent for second part</h4> <br />
</div>
</body>
</html>