<h1 class="title-style-2">About ABILITY.NET<span class="title-under"></span></h1>
<h4>AbilIT.net goes live</h4>
<p><h4>AbilIT.net launches the website on the 01.09.2016. 
The platform provides a detailed app catalogue for apps that enable people with disabilities in their daily live.
60 Apps are available on the platform. They can be found via categories and searching.
User's can comment, rate and share their thoughts on the apps.
The AbilIT.net-Team hopes to provide new helpful apps and a platform that facilitates interaction and arouses interest.</h4></p>
<br />
<h4>AbilIT.net geht online</h4>
<p><h4>AbilIT.net startet die website am 1.09.2016. 
Die Platform bietet einen detailierten App-Katalog für Apps die Menschen mit Behinderung im Alltag unterstützen können.
Zu Beginn sind 60 Apps auf der Platform verfügbar. Sie können mittels Kategorien oder auch über die Suche gefunden werden.
Nutzer können die Apps kommentieren, bewerten und somit Ihre Meinungen zu den Apps austauschen.
Das AbilIT.net-Team hofft neue nützliche Apps vorzuschlagen und eine interessante und interaktive Platform zu schaffen.</h4></p>
<br />