<div class="row">
	<h2 class="title-style-2">Was macht AbilIT.net?</h2>
<div class="col-sm-6 col-md-12">
	<h4>AbilIT.net ist eine Seite im Internet für <b>Apps</b> für das <b>Smartphone</b>.</h4>
</div>
<div class="col-sm-6 col-md-8">

	<ul>
		<li>Alle Apps auf AbilIT.net können Menschen mit Behinderungen helfen.</li>
		<li>Auf der Seite können Sie neue Apps finden.</li>
		<li>Andere Menschen besprechen ihre Meinungen über die Apps.</li>
	</ul>
</div>
<div class="col-sm-6 col-md-4">
		<%= image_tag ("easy language 1.png"), :style => "height: 30%; width: 30%", class: "help-image" %>
</div>	
</div>
<div class="row">
	<h2 class="title-style-2">Wer benutzt AbilIT.net?</h2>
	<div class="col-sm-6 col-md-12">
		<h4>Viele Menschen können AbilIT.net benutzen.</h4>
		<h4>Besonders Menschen mit Behinderung benutzen AbilIT.net.</h4>
		<h4>Zum Beispiel:</h4>
	</div>
	<div class="col-sm-6 col-md-8">		
		<ul>
			<li>Ein Blinder kann eine gute App finden.<br />
			Diese App vorlesen was auf einer Verpackung steht.</li>
			<li>Ein Rollstuhlfahrer kann eine hilfreiche App finden.<br />
			Mit der App findet er gut zugängliche Lokale.</li>
			<li>Oder die Mutter von einem Autisten findet eine App.<br />
			Die App hilft bei dem einfachen Austausch von Gedanken.</li>
		</ul>
	</div>
	<div class="col-sm-6 col-md-4">
		<%= image_tag ("easy language 2.png"), :style => "height: 30%; width: 30%" %>
	</div>
</div>
<div class="row">
	<h2 class="title-style-2">Wie benutze ich AbilIT.net?</h2>
	<div class="col-sm-6 col-md-12">
		<h4>Sie können auf zwei unterschiedlichen Wegen eine App finden.</h4>
	</div>
	<div class="col-sm-6 col-md-8">
		
		<ul>
			<li>Suchen sie sich eine Kategorie im Menü aus.<br />
				Zum Bespiel gibt es eine Kategorie für Lernschwäche.<br />
				Hier gibt es Apps für Menschen mit Lernschwäche.</li>
			<li>Benutzen Sie die Suche.<br />
				Schreiben Sie ein Wort in das Feld.<br />
				Es werden Ihnen verschiedene Apps angezeigt.</li>
		</ul>
	</div>
	<div class="col-sm-6 col-md-4">
		<%= image_tag ("easy language 3.png"), :style => "height: 30%; width: 30%" %>
	</div>
</div>
<div class="row">
	<h2 class="title-style-2">Wie kann ich mit dem Besitzer von AbilIT.net sprechen?</h2>
	<div class="col-sm-6 col-md-8">
		<h4>Klicken Sie auf das Wort Kontakt.</h4>
		<h4>Dann können Sie uns eine Nachricht schicken.</h4>
	</div>
	<div class="col-sm-6 col-md-4">
		<%= image_tag ("easy language 4.png"), :style => "height: 30%; width: 30%" %>
	</div>
</div>
<div class="row">
	<h4>Jeder darf die kostenlosen Bilder von <a href="http://hurraki.de/wiki/Kategorie:Bilder" style="color:#162067">Hurraki.de</a> benutzen.</h4>
	<h4>Hurraki.de ist ein Wörterbuch für Leichte Sprache.</h4>
</div>
<!-- <h1 class="title-style-2">About ABILITY.NET<span class="title-under"></span></h1>
<h4>AbilIT.net goes live</h4>
<p><h4>AbilIT.net launches the website on the 01.09.2016. 
The platform provides a detailed app catalogue for apps that enable people with disabilities in their daily live.
60 Apps are available on the platform. They can be found via categories and searching.
User's can comment, rate and share their thoughts on the apps.
The AbilIT.net-Team hopes to provide new helpful apps and a platform that facilitates interaction and arouses interest.</h4></p>
<br />
<h4>AbilIT.net geht online</h4>
<p><h4>AbilIT.net startet die website am 1.09.2016. 
Die Platform bietet einen detailierten App-Katalog für Apps die Menschen mit Behinderung im Alltag unterstützen können.
Zu Beginn sind 60 Apps auf der Platform verfügbar. Sie können mittels Kategorien oder auch über die Suche gefunden werden.
Nutzer können die Apps kommentieren, bewerten und somit Ihre Meinungen zu den Apps austauschen.
Das AbilIT.net-Team hofft neue nützliche Apps vorzuschlagen und eine interessante und interaktive Platform zu schaffen.</h4></p>
<br /> -->