<div class="row">
	<div class="col-md-12">
		<p><h2>Title of the first news.<span class="title-under"></span></h2></p>
		<p><h4><strong>The source of the news</strong>|Author|Posted date|Category</h4></p>
		<p><h4><strong>Read more/Related news <a href=""></a></strong></h4></p>
		<div class="col-md-8">
			<p><h4>This is the main content.
			Devise creates convenience methods on the fly that represent your currently logged user.

			However you should note that the generated method name includes the class name of your user model. e.g. if your Devise model is called 'User' then the currently logged in user can be accessed with 'current_user', and if your Devise class is 'Admin' then the logged in admin user can be accessed with 'current_admin'.

			There are a number of other methods created with similar conventions, for example 'user_signed_in?' or again 'admin_signed_in?', which are really nice.

			These methods are available in controllers and views so you might have the following in a view:</h4></p>
		</div>
		<div class="col-md-4">
			<%= image_tag ("home.png"), :style => "height: 30%; width: 30%" %>
		</div>
	</div>
</div>