<!-- Carousel-->
    <div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel" data-interval="false">

          <!-- Indicators -->
           <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox" >

            <div class="item active">

              <%= image_tag("BeMyEyes.png", :alt => "rss feed" ) %>


            </div> <!-- /.item -->


            <div class="item ">

              <%= image_tag("Tap-Tap-See-image.jpg", :alt => "rss feed" ) %>

            </div>  <!--  /.item -->


            <div class="item ">

              <%= image_tag("KNFB-Reader.jpg", :alt => "rss feed") %>

            </div>  <!-- /.item -->

           </div>

          <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

    </div> <!-- /.carousel -->