<% @title="Zappatory.com - Verzeichnis für assistive Apps -index" %>
<div class="jumbotron welcome">
      <div class="container">
        <h2>WILLKOMMEN AUF ZAPPATORY.COM!</h2>
        <p>Auf Zappatory.com  finden Sie zahlreiche Apps die Menschen mit Behinderungen im Alltag unterstützen. Die nachfolgenden Kategorien sind nach Behinderungsgruppen unterteilt. Klicken Sie auf "Mehr Apps..." um alle Apps der entsprechenden Kategorie zu sehen. Ausserdem können Sie mit der Suchfunktion nach Stichworten oder dem Namen der App suchen. Schauen Sie sich um, Sie werden bestimmt einige interessante Apps finden.</p>
      </div>
</div>

<div class="container text-center">    
		<div class="row">
			<h2 class="title-style-3" aria-hidden="false">App Kategorien
			</h2>
		</div>	
  <br>
  <div class="row">
    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Current Project</p>
    </div>
    <div class="col-sm-3"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
    <div class="col-sm-3"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
    <div class="col-sm-3"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
    
    
  </div>
  <hr>
</div>
