<div class="row">
  <% @apps.each do |app| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag app.image.url(:medium), class: 'image'), app %>
      </div>
    </div>
  <% end %>
</div>