@import url(https://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables, mixins, etc.. */
body {
	font-family: "Proxima Nova";
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
}

header {
	width: 100%;
	padding: 2rem 0;
	border-bottom: 1px solid #E4E4E4;
	#logo {
		float: left;
		font-size: 1.75rem;
		a {
			color: #333233;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 2;
			color: #9B9B9B;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
}

/* slide show */
.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 30%;
      margin: auto;
 }

 /* app in index page */



	.app {
		background: #F8F9FA;
		height: 300px;
		width: 100%;
		float: left;
		border: 1px solid #E4E4E4;
		border-radius: 0.3rem;
		.app_image {
			height: 200px;
			overflow: hidden;
			padding-top: 10px;
			padding-bottom: 10px;
			img {
				width: 100%;
				border-radius: .3rem .3rem 0 0;
			}
		}
		 
		h2 {
				margin: 0;
				font-weight: 100;
				padding: 1rem 5%;
				border-bottom: 1px solid #E4E4E4;
				font-size: 1.25rem;
		}
			
		}