[role="button"] {
  cursor: pointer;
}
.app {
    background: #F8F9FA;
    height: 300px;
    width: 100%;
    float: left;
    border: 1px solid #E4E4E4;
    border-radius: 0.3rem;

}
a {
    color: inherit;
}
.app .app_image {
    height: 200px;
    width: 200px;
    overflow: hidden;
    padding: 10px;
}


# Back to Top
.scrollToTop {
    width:100px; 
    height:130px;
    padding:10px; 
    text-align:center; 
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom:200px;
    right:40px;
    display:none;
    background-color: green;# no-repeat 0px 20px;
}
.scrollToTop:hover{
    text-decoration:none;
}


