<p>Willkommen <%= @email %>!</p>

<p>Sie können Ihre Benutzerkonto-Mail mit folgendem Link bestätigen</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
