<p>Hallo <%= @resource.email %>!</p>

<p>Ihr Benutzerkonto wurde gesperrt aufgrund von einer Vielzahl an Fehleingaben des Passwortes beim Login.Y</p>

<p>Clicken Sie auf den folgenden Link um Ihr Konto zu entsperren:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
