<% @title="Zappatory.com - Verzeichnis für assistive Apps -Bewertung und Kommentar" %>
<div class="container">
  <h2 class="title-style-2" aria-hidden="false">Bewertung und Kommentar<span class="title-under"></span></h2>
  <%= simple_form_for([@app, @app.reviews.build]) do |f| %>
  <div class="form-group col-md-12 white-border">
    <div id="rating-form">
      <!-- <label>Wertung</label> -->
      <p aria-hidden="false">Bewertung</p>
    </div>
    <p aria-hidden="false">Kommentar</p> 
      <!-- <textarea name="message" rows="5" class="form-control" placeholder="Comment*" required></textarea> -->
    <%= f.text_area :comment, :rows =>"5", class:"form-control", placeholder:"Ihr Kommentar" %><br/>
      <br/>
      <p class="offscreen">Klicken Sie hier um Ihre Bewertung abzugeben</p> 
      <%= f.submit 'Bewerten', class: 'btn btn-primary pull-left' %>
    <!--<%= f.button :submit %> -->
  </div>
</div>
<br/>

<% end %>
<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>