<h2 class="title-style-2" tabindex=0>Überprüfung<span class="title-under"></span></h2>
<%= simple_form_for([@app, @app.reviews.build]) do |f| %>
<div class="form-group col-md-6">
	<div id="rating-form">
		<!-- <label>Wertung</label> -->
		<h4 tabindex=0>Bewertung</h4>
	</div>
	<h4 tabindex=0>Kommentar</h4> 
    <!-- <textarea name="message" rows="5" class="form-control" placeholder="Comment*" required></textarea> -->
	<%= f.text_area :comment, :rows =>"5", class:"form-control", placeholder:"Comment" %><br/>
    <br/>
    <h4 tabindex=0 class="offscreen">Click here to submit your reviews</h4>
    
    <%= f.submit 'Submit Reviews', class: 'btn btn-primary pull-left' %>
	<!--<%= f.button :submit %> -->
</div>
<br/>

<% end %>
<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>