<div class="container">
	<h2 class="title-style-2" aria-hidden="false">Review<span class="title-under"></span></h2>
	<%= simple_form_for([@app, @app.reviews.build]) do |f| %>
		
		<div class="form-group col-md-12 white-border">

			<p aria-hidden="false">Comment:</p> 
		    <!-- <textarea name="message" rows="5" class="form-control" placeholder="Comment*" required></textarea> -->
		    <%= f.text_area :comment, :rows =>"5", class:"form-control", placeholder:"Comment" %><br/>
		    <%= f.submit 'Submit', class: 'btn btn-primary pull-left' %>          
    	</div>
</div><br/>

<% end %>
<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>
