<% @motorical.each do |motorical| %>
    <section class="product">
          <h2><%= link_to motorical.name, store_product_path(motorical) %></h2>
         
          <ul><%= number_to_currency motorical.price %></ul>
        </dl>
        
        <td class="image-description">
            <td><%= image_tag motorical.app_img.url(:app_index) %></td>
        </td>
  </section>
<%end%>