  <section class="product">
          

        <% if @product %>
        <p>
          <strong>Category:</strong><%= @product.name %>
        </p>
        <% end %>
  </section>

<p>
  <%= link_to "Home", root_path %>
</p>
